<!--DOCTYPE html-->
<html>
<head>
<meta charset="utf-8">
<title>鲸游DistincTrip  7</title>
<!-- <link href="css/demo.css" rel="stylesheet" /> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue.min.js"></script> -->
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/demo2.js"></script>

<style>
     .thumbnail 
    {
        float:left;
        width:68%;
        
        
    }
    .row
    {
        float:right;
        width:30%;
        margin:0.5%;
        
    }
</style>
</head>

<body>
    <div id="scenic_info">
        <mycom1></mycom1>
    </div>
</body>




<script>
var vm = new Vue({
            el: '#scenic_info',
            template: `
            <div>
                <img id="showscreen" class="thumbnail" v-bind:src="img[0]" width="107" height="270">
        <img id="show1" class="row" v-bind:src="img[1]" width="100" height="50" @click="changeImages1">
        <img id="show2" class="row" v-bind:src="img[2]" width="100" height="50" @click="changeImages2">
        <img id="show3" class="row" v-bind:src="img[3]" width="100" height="50" @click="changeImages3">
        <img id="show4" class="row" v-bind:src="img[4]" width="100" height="50" @click="changeImages4">   
            </div>
            `,
            data: {
                img:[
                    "../code/img/img00.jpg",
                    "../code/img/img01.jpg",
                    "../code/img/img02.jpg",
                    "../code/img/img03.jpg",
                    "../code/img/img04.jpg",
                    "../code/img/img05.jpg",
                    "../code/img/img06.jpg"
                ]
            },
            methods: {
                changeImages1:function(event){
                var a=document.getElementById('show1');
                var c=document.getElementById('showscreen');           
                c.src=a.src;            
            },

            changeImages2:function(event){
                var a=document.getElementById('show2');
                var c=document.getElementById('showscreen');           
                c.src=a.src;            
            },

            changeImages3:function(event){
                var a=document.getElementById('show3');
                var c=document.getElementById('showscreen');           
                c.src=a.src;            
            },

            changeImages4:function(event){
                var a=document.getElementById('show4');
                var c=document.getElementById('showscreen');           
                c.src=a.src;            
            }
            }
        }) 
</script>

</html>